/* LOGIN STYLES
   ----------------------------- */

.login-page-wrapper {
    position: relative;
    min-height: 100%;
    z-index: 1;
}
.login-wrap {
	width: 220px;
    max-width: 400px;
    display: block;
    margin: 200px auto;
}

.login-button {
    margin-left: 0 !important;
}